=link_to style_packs_path(style), :class => "list-group-item" do
  span class= "label label-primary label-category-#{style.category}" #{style.category}
  | #{style.name} 
  span.badge.badge-important #{style.packs.length}