.packs-page {
  .glyphicon-circle-arrow-left {
    top: 8px;
    margin-right: 8px;
  }

  .plus-sign {
    text-align: center;
    font-size: 30px;
  }

.thumbnail{
      margin: 5px;
      text-decoration: None;
      text-align: center;
    }
}
