.packs-page {
  i {
  	top: 8px;
  	margin-right: 8px;
  }
  ul {
  	list-style-type: none;
  	li {
        width: 200px;
        height: 200px;
        //border: 1px solid #000;
        display: -moz-inline-stack;
        display: inline-block;
        img {
        	width: 100%;
        	height: 100%;
        }

    }
  }
}

