.styles-page {
	width: 50%;
	margin:auto;
	input.btn-float-right {
		float: right;
		//width: 12%;
	}
	input.input-wide {
		//width: 278%
	}
	a.list-group-item {
		&:hover {
			background-color: rgba(48, 113, 169, 0.25)
		}
	}
}

