.styles-page {
  margin:auto;

  .margin-top {
    margin-top:10px;
  }

  a.list-group-item {
    &:hover {
      background-color: rgba(48, 113, 169, 0.25)
    }
  }
  .label-primary {
 	 margin-right: 10px;
  }
  .label-category-Feelings {
  	background-color: #490A3D;
  }
  .label-category-FoodAndDrinks {
  	background-color: #BD1550;
  }
  .label-category-Games {
  	background-color: #E97F02;
  }
  .label-category-Nature {
  	background-color: #8A9B0F;
  }
  .label-category-Home {
  	background-color: #00A0B0;
  }
  .label-category-Brands {
  	background-color: #6A4A3C;
  }
}
